*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--pink-3);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* utility classes */

.main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: var(--pink-1);
    border-radius: 20px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* main section */

.upperSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

/* upper section div utitlities  */

.title h1{
    font-family: "Montserrat";
}

.title-span{
    color: var(--bright-reddish-pink);
}

.rounds{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--bright-yellowish-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
    font-weight: 600;
    padding:0;
    margin:0;
    transition: 0.3s ease;
}

.rounds .round{
    font-weight: 700;
    font-size: 25px;
    padding:0;
    margin:0;
}

.rounds .round .roundNo{
    font-weight: 600;
    font-size: 40px;
    padding:0;
    margin:0;
}

.rounds .round-txt{
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    padding:0;
    margin:0;
}

.rounds:hover{
    cursor: pointer;
    background-color: #f9d459;
}

/* title and round designing utilities and classes */

.lowerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.lowerSection .turn-btn{
    width: 220px;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--mangoish-yellow);
    border: none;
    height: 65px;
    font-size: 20px;
    font-weight: 700;
    color: var(--bright-reddish-pink);
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: -2px;
    transition: 0.2s ease;
    text-align: center;
}

.lowerSection .turn-btn:hover{
    cursor: pointer;
    background-color: #f9d459;
}

.lowerSection .turn-btn:active{
    transform: scale(0.7);
}


