:root{
/* CSS HEX */
--azalea: #fbdfe3;
--carnation: #f24c54;
--saffron-mango: #fbd04e;
--limed-spruce: #324747;
--oriental-pink: #c593a3;
--buff: #f4d685;
--fuchsia-pink: #c757b3;
--edward: #abb2b3;
--cavern-pink: #e2bbc2;
--astra: #fae5b6;
}